@page
@model TaskManager.Pages.Tasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>About your task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskEntity.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskEntity.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskEntity.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskEntity.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskEntity.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskEntity.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskEntity.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskEntity.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TaskEntity.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
